<div class="question-item">
  <h4 nz-typography>{{index}} - {{question.title}}</h4>
  <nz-divider></nz-divider>
  <div nz-row nzJustify="center" nzAlign="middle">
    <nz-radio-group class="answer-item" *ngIf="question.type == 'YES_NO'; else multiple"
      [(ngModel)]="question.checkValue" nzButtonStyle="solid">
      <label *ngFor="let answer of question.answers" nz-radio-button [nzValue]="answer.id">{{answer.answer}}</label>
    </nz-radio-group>
  </div>

  <ng-template #multiple>
    <nz-checkbox-group></nz-checkbox-group>
  </ng-template>
</div>
