.question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.actions {
  margin: 0.5em;

  button {
    margin: 0 0.3em;
  }
}

app-question-item-custom {
  width: 100%;
}
