.question-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.actions {
  margin: 1.2em;

  button {
    margin: 0 0.3em;
  }
}
