:root {
  // src/styles/components/breakpoint.scss

  --breakpoint-small: 576px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 992px;
  --breakpoint-xlarge: 1200px;
  --breakpoint-xxlarge: 1400px;
}
