.card {
  background: linear-gradient(
    -35deg,
    rgba(#222, 0.55) 0%,
    rgba(#333, 0.55) 100%
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(#5c5c5c, 0.5);
  color: white;
  border-radius: 0.1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  &-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    animation-timing-function: linear;
  }

  &-cover img {
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
  }

  &-cover > * {
    display: block;
    width: 100%;
  }

  &-header {
    margin: 10px;
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-title {
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0.2em 0;
  }

  &-description {
    font-size: 14px;
    list-style: none;
    color: rgba(255, 255, 255, 0.45);
  }

  &-link {
    cursor: pointer;
  }

  &-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-play {
    transition: opacity 0.5s linear;
  }

  &-play:hover {
    opacity: 0.8;

    .play {
      visibility: visible;
      opacity: 1;
    }
  }
  &-odd {
    background-color: rgb(0, 95, 63);
    color: white;
  }
  &-third {
    background-color: rosybrown;
    color: white;
  }

  .play {
    width: 5em;
    visibility: hidden;
    position: absolute;
    z-index: 100;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
}
