.dialog {
  &-container {
    background-color: var(--background-color);
    padding: var(--default-padding);
    border-radius: var(--default-border);
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px 0px rgba(65, 65, 65, 0.678);
    filter: drop-shadow(0px 5px 10px 0px rgba(65, 65, 65, 0.678));
  }

  &-header {
    display: flex;
    justify-content: space-between;
    padding: var(--default-padding);
  }

  &-content {
    padding: var(--default-padding);
  }
}

.overlay-backdrop {
  background: rgba(0, 0, 0, 0.7);
}

app-test-dialog {
  display: flex;
  width: 400px;
}
