<form dialogBody class="quesiton-form" *ngIf="createQuestionForm" [formGroup]="createQuestionForm"
  (ngSubmit)="onSubmit()">
  <app-form-item>
    <label for="title">Title</label>
    <input type="text" formControlName="title" placeholder="Question title" />
  </app-form-item>
  <app-form-item>
    <label for="description">Code description</label>
    <input type="text" formControlName="codeDescription" placeholder="Question code description" />
  </app-form-item>
  <app-form-item>
    <label for="type">Type</label>
    <select id="type" formControlName="type">
      <option *ngFor="let type of listQuestionType" [value]="type.value">{{type.name}}</option>
    </select>
  </app-form-item>
  <app-form-item>
    <label for="category">Category</label>
    <select id="category" formControlName="category">
      <option *ngFor="let category of listQuizCategory" [value]="category.value">{{category.name}}</option>
    </select>
  </app-form-item>
  <app-form-item>
    <label for="countDown">Countdown</label>
    <input type="number" formControlName="countDown" placeholder="Countdown value" />
  </app-form-item>
  <app-form-item>
    <label for="difficultlyLevel">Difficultly level</label>
    <select id="difficultlyLevel" formControlName="difficultlyLevel">
      <option *ngFor="let level of listdifficultLevel" [value]="level.value">{{level.name}}</option>
    </select></app-form-item>
  <app-form-item>
    <label for="mark">
      Mark
    </label>
    <input type="checkbox" name="mark" formControlName="mark">

  </app-form-item>
  <app-form-item>
    <label for="active">
      Active
    </label>
    <input type="checkbox" name="active" formControlName="active">
  </app-form-item>

  <div *ngFor="let control of answers.controls">
    <ng-container [formGroup]="control">
      <label>Answer</label>
      <input type="text" formControlName="answer" />
      <label>Is correct</label>
      <input type="checkbox" formControlName="correct">
      <label (click)="removeAnswer(control, $event)">remove</label>
    </ng-container>
  </div>

  <button class="add-button" type="button" (click)="addAnswer()">
    <span nzType="plus"></span>
    Add answer
  </button>

  <div class="actions">
    <button vg-button>Save</button>
  </div>
</form>
