.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.chat {
  width: 100%;

  &-header {
    border-bottom: 1px solid var(--dark-color);
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  &-content {
    height: 100%;
    padding: 0.5em;
  }

  &-input {
    display: flex;
    width: 100%;
    color: var(--dark-color);
    position: absolute;
    bottom: 0;
  }

  &-input * {
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
  }

  &-input-msg {
    flex: 1;
    background: #ddd;
    border-radius: 0.5em;
    min-height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 0.4em 0.75em;
    color: #ddd;
    background-color: #3a3b3c;
  }

  :focus {
    outline: 0;
  }
}

.btn {
  &-send {
    border: 0;
    color: white;
    cursor: pointer;
    padding: 0.4em;
  }
}
