.caregory-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: var(--default-margin) 0;
}

.post-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: var(--default-margin) 0;
}

.post-meta {
  font-size: 0.8em;
}

.post-content {
  margin: var(--default-margin) 0;
}

// .main-content {
//   border: 1px solid var(--border-color);
//   border-radius: var(--default-radius);
//   padding: var(--default-padding);
// }
