<ng-container *ngIf="(quiz$ | async) as quiz">
  <div *ngFor="let question of quiz.questions; index as i" nz-row>
    <app-question-item *ngIf="displayItemIndex === i" [index]="i+1" nzAlign="middle" nz-col nzSpan="12" nzOffset="6"
      [question]="question"></app-question-item>
  </div>
  <div nz-row nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="12" nzOffset="6" nz-space>
      <button *nzSpaceItem nz-button [disabled]="displayItemIndex == 0" (click)="pre()">Pre</button>
      <button *nzSpaceItem nz-button [disabled]="displayItemIndex == quiz.questions.length - 1"
        (click)="next()">Next</button>
      <button *nzSpaceItem nz-button (click)="done(quiz.questions)">Done</button>
    </div>
  </div>
</ng-container>
