<app-table [rows]="listQuestion" [actions]="actions" [page]="currentPage" [pageSize]="pageSize" [totalRows]="totalRows"
  (pageChange)="onPageChange($event)">
  <table-column header="No" key="no">
    <ng-template tableCell let-row>{{row.index}}</ng-template>
  </table-column>
  <table-column header="Title" key="title"></table-column>
  <table-column header="Type" key="type"></table-column>
  <table-column header="Category" key="category"></table-column>
  <table-column header="Answers" key="answers">
    <ng-template tableCell let-row>
      <ul>
        <li answer-correct [is-correct]="item.correct" *ngFor="let item of row.data.answers; index as i">{{item.content}}
        </li>
      </ul>
    </ng-template>
  </table-column>
  <table-column header="Countdown" key="countdown"></table-column>
  <table-column header="Actions" key="actions" [dataType]="DataType.ACTIONS">
    <ng-template tableCell let-row>
      <ng-container *ngFor="let action of row.actions">
        <button vg-button color="primary" (click)="action.action(row.data)">{{action.title}}</button>
      </ng-container>
    </ng-template>
  </table-column>

</app-table>
