:root {
  --primary-color: #395B64;
  --background-color: #2C3333;
  --second-color: #526D82;
  --third-color: #27374D;
  --error-color: #E74C3C;
  --success-color: #2ECC71;
  --warning-color: #F1C40F;
  --info-color: #3498DB;
  --dark-color: #34495E;
  --light-color: #ECF0F1;
  --gray-color: #95A5A6;
  --dark-gray-color: #7F8C8D;
  --light-gray-color: #BDC3C7;
  --border-color: #7F8C8D;

  --default-margin: 8px;
  --default-padding: 8px;
  --default-gap: 8px;
  --default-border: 8px;

}
