.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

// text
.text-muted {
  color: var(--text-muted-color);
}

.text-italic {
  font-style: italic;
}

.title {
  font-size: 1.2em;
}

// loading
.loading {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-spin {
    position: absolute;
    z-index: 1000;
  }
}

// scroll bar

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #474747;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #919191;
}

// scroll to top button
.to-top {
  position: fixed;
  bottom: 3em;
  right: 3em;

  button {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    // box-shadow: -5px 5px 10px -5px rgba(12, 33, 36, 0.678);
    filter: drop-shadow(-5px 5px 10px -5px rgba(12, 33, 36, 0.678));

  }
}

.link {
  text-decoration: none;
  color: inherit;

}

a {
  text-decoration: none;
  color: var(--info-color);
}
