<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <div class="logo" routerLink="/">
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLink="/quiz">Quiz</li>
        <li nz-menu-item routerLink="/chat">Chat</li>
        <li nz-menu-item routerLink="/auth/login" *ngIf="auth.isLoggedOut$ | async">Login</li>
        <li nz-menu-item (click)="logout()" *ngIf="auth.isLoggedIn$ | async">Logout</li>
      </ul>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <loading></loading>
        <router-outlet></router-outlet>
        <div class="to-top" *ngIf="windowScrolled">
          <button (click)="scrollToTop()" vg-button size="small" color="success">Back</button>
        </div>
      </div>
    </nz-content>
    <!-- <nz-footer>Footer info</nz-footer> -->
  </nz-layout>
</nz-layout>
