<app-blog-layout>
  <div class="left-side"></div>
  <!-- <ng-template side="left">
    <div>test</div>
  </ng-template> -->
  <div class="spacer"></div>
  <div class="main-content">
    <ng-container *ngIf="(post$ | async) as post">
      <!-- <div class="text-muted">
        <a routerLink="/category/{{post.category.id}}">{{post.category.name}}</a>
      </div> -->
      <div class="post-title">
        {{post.title}}
      </div>
      <div class="post-meta text-muted" style="text-align: end;">
        <span>{{post.createdAt | date:'dd/MM/yyyy'}}</span>
        -
        <span>by <a routerLink="/auth/profile/{{post.creator.username}}">{{post.creator.fullName}}</a></span>
        -
        <span>{{post.numLikes}} likes</span>
      </div>
      <div class="post-content" [innerHTML]="getPostContent(post.content)"></div>
    </ng-container>
  </div>
  <div class="spacer"></div>

  <div class="right-side">
    <div class="section">
      <div class="caregory-title">Featured posts</div>
      <app-list-compact-post [posts]="(featuredPosts$ | async)!"></app-list-compact-post>
    </div>

    <div class="section">
      <div class="caregory-title">Latest posts</div>
      <app-list-compact-post [posts]="(latestPosts$ | async)!"></app-list-compact-post>
    </div>
  </div>
</app-blog-layout>
