/* You can add global styles to this file, and also import other style files */
@import "./styles/colors.scss";
@import "./styles/common.scss";
@import "./styles/components/card.scss";
@import "./styles/components/button.scss";
@import "./styles/components/question.scss";
@import "./styles/components/table.scss";
@import "./styles/components/quiz.scss";
@import "./styles/components/chat.scss";
@import "./styles/components/nav.scss";
@import "./styles/components/menu.scss";
@import "./styles/components/header.scss";
@import "./styles/components/dropdown.scss";
@import "./styles/components/profile.scss";
@import "./styles/components/common.scss";


html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
body * {
  margin: 0;
  font-family: 'Space Mono', monospace;
}

app-base-layout {
  min-height: 100vh;
  width: 100%;
  display: grid;
  gap: 15px;
}


app-no-base-layout {
  min-height: 100vh;
  width: 100%;
}


