/* You can add global styles to this file, and also import other style files */
@import "./styles/colors.scss";
@import "./styles/common.scss";
@import "./styles/components/card.scss";
@import "./styles/components/button.scss";
@import "./styles/components/question.scss";
@import "./styles/components/table.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
