.question-item {
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--background-color);
}

// .title {
//   max-height: 120px;
// }

.title h2 {
  text-align: center;
}

.question {
  &-card {
    background: linear-gradient(
      -35deg,
      rgba(59, 91, 95, 0.678) 0%,
      rgba(#333, 0.55) 100%
    );
    backdrop-filter: blur(10px);
    border-radius: 0.5em;
    box-shadow: -5px 5px 30px -10px rgba(65, 65, 65, 0.678);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: flex;
    flex-direction: column;
    width: 540px;
    max-width: 540px;
    min-height: 400px;
    justify-content: space-between;
  }

  &-header {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
    flex: 1;

    &-left-sapce {

    }

    &-right-sapce {
    }
  }

  &-content {
    padding: 0.5em;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: auto;
  }

  &-title {
    font-size: 1.3em;
    text-align: center;
  }

  &-description {
    padding: 0.5em;
  }

  &-meta {
    padding: 0.5em;
    // display: flex;
    // flex-direction: column;
  }
}

@media (max-width: 801px) {
  .question-card {
    width: 100%;
  }
}
