.question-item {
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--background-color);
}

// .title {
//   max-height: 120px;
// }

.title h2 {
  text-align: center;
}
