.profile-content {
  display: grid;
}

.user {
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(2 * var(--default-padding));

  &-info {
    display: grid;
    grid-template-columns: 1fr;
    margin: calc(2 * var(--default-padding));
  }

  &-fullname {
    font-size: 1.5em;
    font-weight: bold;
  }

  &-username {

  }

  &-meta {

  }

  &-action {
    cursor: pointer;
    padding: calc(0.5 * var(--default-padding)) 0;

    &:hover {
      background-color: #4d4d4d;
    }
  }

}

app-friend {
  margin: calc(2 * var(--default-padding));
}

.avatar {
  width: 100px;
  height: 100px;
}
