.profile-content {
  display: grid;
}

.user {
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;

  &-info {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
  }

  &-fullname {
    font-size: 1.5em;
  }

  &-username {

  }

  &-meta {

  }
}

.avatar {
  width: 100px;
  height: 100px;
}
