.profile-content {
  display: grid;
}

.user {
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;

  &-info {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
  }

  &-fullname {
    font-size: 1.5em;
    font-weight: bold;
  }

  &-username {

  }

  &-meta {

  }

  &-action {
    cursor: pointer;
    padding: 0.3em 0;

    &:hover {
      background-color: #4d4d4d;
    }
  }

}

app-friend {
  margin: 1em;
}

.avatar {
  width: 100px;
  height: 100px;
}
