<form nz-form [formGroup]="searchForm" nzLayout="inline" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group>
        <input type="text" nz-input formControlName="likeQuestion" placeholder="Question content" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-select id="type" formControlName="type" nzPlaceHolder="Chọn giá trị">
        <nz-option *ngFor="let type of listQuestionType" [nzLabel]="type.name" [nzValue]="type.value"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-select id="category" formControlName="category" nzPlaceHolder="Chọn giá trị">
        <nz-option *ngFor="let category of listQuizCategory" [nzLabel]="category.name"
          [nzValue]="category.value"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="mark">
        <span>Có đánh dấu</span>
      </label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary">Search</button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button type="button" (click)="searchForm.reset()" nz-button nzType="default">Reset form</button>
    </nz-form-control>
  </nz-form-item>
</form>
