<div>
  <h3>Chọn Quiz</h3>
</div>

<div>
  <div nz-row [nzGutter]="[8, 8]">
    <div *ngFor="let item of quiz$ | async" nz-col nzSpan="6" [nzXs]="{span: 24}" [nzMd]="{span: 12}" [nzLg]="{span: 6}">
      <nz-card [nzCover]="coverTemplate" [nzActions]="[goDetail]">
        <nz-card-meta nzTitle="{{item.title}}" nzDescription="{{item.description | slice:0:50}}"></nz-card-meta>
      </nz-card>
      <ng-template #goDetail>
        <a nz-icon nzType="play-circle" routerLink="{{item.id}}" nzTheme="outline"></a>
      </ng-template>

      <ng-template #coverTemplate>
        <img alt="example" [src]="'http://localhost:8080/file/download-byte?file-path=' +item.imagePath" />
      </ng-template>
    </div>
  </div>
  <div nz-row nzAlign="middle" nzJustify="center">
    <button nz-button (click)="loadMore()">Xem thêm</button>
  </div>
</div>
